@media (max-width: 600px) {
    .logo{
    	padding: 0 3rem;
    }

    .hamburger{
    	display: block;
    	padding: 0 3rem;
    }

    .menu{
    	position: absolute;
    	right: 0;
    	padding: 0 3rem;
    	top: 75px;
    	background-image: linear-gradient(180deg, #000, #000, #53C8B6);
    	display: none;
    	transition: all 0.25;
    }

    .menu .menu_list{
    	flex-direction: column;
    }

    .hero {
        justify-content: center;
        color: #fff;
        background-image: radial-gradient(circle, rgb(15 14 14 / 30%), rgb(102 96 96 / 40%), rgb(163 160 160 / 16%)), url('../images/img2.jpg')
    }
}
