@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-image: linear-gradient(90deg, #000, #000, #53C8B6);
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    padding: 0 20px;
}

.logo .heading{
    color: #fff;
}

.menu{
    padding: 0 20px;
}

.hamburger{
    display: none;
    color: #fff;
    font-size: 25px;
}

.cross-icon{
    display: none;
}

.menu .menu_list{
    display: flex;
    list-style: none;
}

.menu_list .menu_list_items{
    padding: 0.5rem 1rem;
}

.links{
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.links:hover{
    border-bottom: 2px solid #fff;
}

section {
    padding: 20px;
    margin: 20px;
}

/* home section */
.hero{
    background-image: url('../images/img2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 4.8rem 0;
}

.hero .intro{
    text-align: center;
    margin: 0 5rem;
    color: #fff;
}

.hero .intro_buttons{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about .about_text{
    width: 450px;
    padding: 5rem 1rem 5rem 5rem;
}

.about .about_image img{
    height: 400px;
    width: 450px;
    padding: 5rem 5rem 5rem 1rem;
}



.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.contact{
    padding: 0 5rem;
}

.contact_content{
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}

.form_controls{
    width: 80%;
    padding: 10px 0;
    margin: 1.67rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}
